<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="oracleDB3" connectionString="TNS_ADMIN=C:\Users\Analista\Oracle\network\admin\OpticaMicaBD;USER ID=ADMIN;WALLET_LOCATION=C:\Users\Analista\Oracle\network\admin\OpticaMicaBD;DATA SOURCE=opticamicabd_high;PASSWORD=Opticamica2211_" />
		<add name="oracleDB" connectionString="DATA SOURCE=localhost:1521/xe ; USER ID=opticamica;PASSWORD=Optica1234;" providerName="Oracle.ManagedDataAccess.Client" />
		<add name="oracleDB2" connectionString="TNS_ADMIN=C:\OPMI_SG\install\OpticaCloud;USER ID=ADMIN;WALLET_LOCATION=C:\OPMI_SG\install\OpticaCloud;DATA SOURCE=opticacloud_high;PASSWORD=Opticamica2211_" />
		<!--		
		<add name="oracleDB" connectionString=(description= (retry_count=20)(retry_delay=3)(address=(protocol=tcps)(port=1522)(host=adb.sa-santiago-1.oraclecloud.com))(connect_data=(service_name=g52b2d7047f6eff_opticamicabd_high.adb.oraclecloud.com)))/>
-->
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<!-- <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->

</configuration>